Testing/
build/
Documents/
ResourceObjects/
Install/
.vs/
.vscode/
xcuserdata/
x64/
.DS_Store
.cache/
SpeckleConnector/Documentation/*
!SpeckleConnector/Documentation/Doxyfile
SpeckleLib/Documentation/*
!SpeckleLib/Documentation/Doxyfile
CMakeCache.txt
_deps/
CMakeFiles/
**/Makefile*
**/*.cmake
**/*.a
**/*.pc
XCBuildData/
**/*.xcsettings
*.log
.idea
*.mui
*.aps