Testing/
build/
Documents/
ResourceObjects/
Install/
.vs/
.vscode/
xcuserdata/
x64/
.DS_Store
.cache/
Documentation/*
!Documentation/Doxyfile
CMakeCache.txt
_deps/
CMakeFiles/
**/Makefile*
**/*.cmake
**/*.a
**/*.pc
XCBuildData/
**/*.xcsettings
*.log
.idea
*.mui
*.aps